<%- include("header") -%>
<h2>About</h2>
<p>
  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Soluta sequi
  excepturi fugit nihil corrupti odit voluptates dignissimos assumenda nesciunt
  ducimus est sed, neque dolore impedit explicabo nam nobis repellat commodi?
</p>
<%- include("footer") -%>
